<% present kanji do |presenter| %>

<li class='kanji <%= extra_class %>'>
  <%= presenter.character %>
  <%= presenter.similars :span %>
  <%= presenter.meanings :span %>
  <%= presenter.random_glossary(taken_glossary) %>
</li>

<% end %>
