<%= title @kanji.symbol %>

<% present @kanji do |presenter| %>

<%= presenter.meanings(:div) %>
<%= presenter.glossaries %>
<%= presenter.similars %>

<div class="footer">
  <%= presenter.edit_link %>
</div>

<% end %>
