<% present @glossary do |presenter| %>
  <%= title @glossary.content %>

  <%= render 'sentences', sentences:@glossary.sentences if @glossary.sentences.present? %>
  <div class="clear"></div>

  <%= presenter.synonyms %>
  <%= presenter.similars %>
  <%= presenter.antonyms %>

  <div id="bottom_links">
    <%= presenter.edit_link %>
  </div>
<% end %>
