<% present @glossary do |presenter| %>
  <%= title @glossary.content %>

  <div class="glossary">
    <%= presenter.sentences %>

    <%= presenter.synonyms %>
    <%= presenter.similars %>
    <%= presenter.antonyms %>

    <div class="footer">
      <%= presenter.edit_link %>
    </div>
  </div>
<% end %>
