<% present Sentence do |presenter| %>
  <%= form_tag sentences_path, :method => :get do %>
    <%= label_tag :project_id, pl(:project,1) %>
    <%= select_tag :project_id, options_for_select(@projects, @project_id) %>
    <%= submit_tag t(:go) %>
  <% end %>

  <%= title pl(:sentence) %>

  <div id="header">
    <%= presenter.new_link %>
  </div>

  <%= render 'sentences', sentences:@sentences if @sentences.present? %>

  <div id="footer">
    <%= presenter.new_link %>
  </div>
<% end %>
