<% present Sentence do |presenter| %>
  <%= form_tag sentences_path, :method => :get do %>
    <%= label_tag :project, pl(:project,1) %>
    <%= select_tag :project, options_for_select(@projects, @project) %>
    <%= submit_tag t(:go) %>
  <% end %>

  <%= title pl(:sentence) %>

  <%= render 'sentences', sentences:@sentences if @sentences.present? %>

  <div id="bottom">
    <%= presenter.new_link %>
  </div>
<% end %>
