<div class="answer">
  <div id='question'><%= @question.string %></div>
  <div id='correct' class="white"><%= @question.correct %></div>
  <div id='reading' class="white"><%= @question.reading %></div>
  <div id='solution'><%= @solution %></div>

  <%= form_for @answer do |f| %>
    <%= f.hidden_field :quiz_id %>
    <%= f.hidden_field :question_id %>
    <%= f.text_field :string, autocomplete:"off" %>
    <%= f.submit "next" %>
  <% end %>
</div>
